* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  text-align: center;
  padding: 14px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.header .title {
  font-family: 'Reggae One', cursive;
  font-size: 32px;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 14px;
}

.main {
  padding: 10px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.main .input,
.main .output {
  height: 280px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.main .input .title,
.main .output .title {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
}

.main .input .input-area {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
}

.main .input .input-area::placeholder {
  color: #b8b8b8;
}

.main .output .output-area {
  background-color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto;
}

.main .input .input-area::-webkit-scrollbar-track,
.main .output .output-area::-webkit-scrollbar-track {
  background-color: white;
}

.main .input .input-area::-webkit-scrollbar,
.main .output .output-area::-webkit-scrollbar {
  width: 4px;
}

.main .input .input-area::-webkit-scrollbar-thumb,
.main .output .output-area::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
}

.about {
  padding: 10px;
}

.about .content {
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: justify;
}

.about .content span {
  color: black;
  font-weight: 600;
}

.about .content a {
  color: black;
}

.about .ext-link {
  border: 1px #b8b8b8 solid;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
  margin: 0 auto 20px;
}

.about .ext-link .git {
  margin-right: 12px;
}

.footer {
  border-top: 1px #d4d4d4 solid;
  border-bottom: 1px #d4d4d4 solid;
  color: #808080;
  padding: 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

@media (hover: hover) {
  .about .content a:hover {
    text-decoration: underline 2px black dotted;
  }

  .about .ext-link {
    transition: all 0.3s ease;
  }

  .about .ext-link:hover {
    background-color: black;
    color: white;
  }

  .footer a:hover {
    text-decoration: underline 2px black dotted;
  }
}

@media (hover: none) {
  .about .content a:active {
    text-decoration: underline 2px black dotted;
  }

  .about .ext-link:active {
    background-color: #b8b8b8;
  }

  .footer a:active {
    text-decoration: underline 2px black dotted;
  }
}

@media (max-width: 500px) {
  .main {
    grid-template-columns: 1fr;
  }
}
